---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import yourData from "../content/yourData.ts";
import { Image } from "astro:assets";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Rafiel Taveras</div>
    <div class="text-3xl py-3 font-bold">Web developer and Data Scientist</div>
    <div class="py-2"
    >
      <text class="text-lg">
        <p>Full-Stack Developer with professional experience in both frontend and backend, working with technologies such as Node.js, Vue.js, and Symfony PHP. I also have a solid background in data science, applying Python, Pandas, and Numpy to create data-driven solutions and ETL processes. I primarily work with PostgreSQL, Docker/Podman, and Linux environments. I consider myself a fast learner who enjoys solving complex problems and building scalable systems that deliver real value.</p>
      </text>
    </div>
    <div class="mt-5 mb-8">
      <div class="flex items-center">
        {yourData.skills.map((skill) => (
          <Image class="ml-2" width={24} height={24} format="webp" src={skill.img} alt={skill.name} />
        ))}
      </div>
    </div>
    <div class="mt-8">
      <a class="btn" href="/contact"> Contact me!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">My Work</div>
  </div>

  {yourData.projects.map((project) => (
    <>
      <HorizontalCard
        title={project.title}
        img={project.imageSrc}
        desc={project.para}
        url={project.url}
      />
      <div class="divider my-0"></div>
    </>
  ))}
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-5">Projects i'm part of</div>
  </div>

  {yourData.projectsParticipations.map((project) => (
    <>
      <HorizontalCard
        title={project.title}
        img={project.imageSrc}
        desc={project.para}
        url={project.url}
      />
      <div class="divider my-0"></div>
    </>
  ))}
</BaseLayout>
